<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadastro de Angular
    </mat-card-subtitle>

    <ul>
        <li *myFor="let n em [1, 2, 3]">{{ n }}</li>
    </ul>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus sit soluta numquam dignissimos 
        praesentium quasi harum ipsum, cum esse delectus! Dolores nisi est ipsa sed at provident qui aliquid.</p>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus sit soluta numquam dignissimos 
        praesentium quasi harum ipsum, cum esse delectus! Dolores nisi est ipsa sed at provident qui aliquid.</p> 
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus sit soluta numquam dignissimos 
        praesentium quasi harum ipsum, cum esse delectus! Dolores nisi est ipsa sed at provident qui aliquid.</p>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus sit soluta numquam dignissimos 
        praesentium quasi harum ipsum, cum esse delectus! Dolores nisi est ipsa sed at provident qui aliquid.</p> 
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus sit soluta numquam dignissimos 
        praesentium quasi harum ipsum, cum esse delectus! Dolores nisi est ipsa sed at provident qui aliquid.cum esse
         delectus! Dolores nisi est ipsa sed at provident qui aliquid. sed at provident qui aliquid.</p>
                      
</mat-card>
